@charset "utf-8";
/* CSS Document */
html {
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(255,255,255,0.01) 0 0 1px;
  -webkit-text-stroke: rgba(255,255,255,0.01) 0.1px;
  
  -moz-text-size-adjust: 100%;
  -moz-font-smoothing: antialiased;
  -moz-text-shadow: rgba(255,255,255,0.01) 0 0 1px;
  -moz-text-stroke: rgba(255,255,255,0.01) 0.1px;
  
  text-size-adjust: 100%;
  font-smoothing: antialiased;
  text-shadow: rgba(255,255,255,0.01) 0 0 1px;
  text-stroke: rgba(255,255,255,0.01) 0.1px;
}


/*****************************************************************************
***************************Global css start **********************************
******************************************************************************/
ul, ol{margin:0; padding:0; list-style:none;}
h1,h2,h3,h4,h5,h6,p{margin:0;}
a:hover{ text-decoration:none;}
a:focus{ outline:none !important; text-decoration:none;}
.btn:focus{ outline:none !important;}
a{ -webkit-transition: all 0.4s ease-in-out 0.1s; -moz-transition: all 0.4s ease-in-out 0.1s; transition: all 0.4s ease-in-out 0.1s;}

/*****************************************************************************
***************************Global css end ************************************
******************************************************************************/


@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/oswald-bold_0.eot');
    src: url('../fonts/oswald-bold_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-bold_0.woff2') format('woff2'),
         url('../fonts/oswald-bold_0.woff') format('woff'),
         url('../fonts/oswald-bold_0.ttf') format('truetype'),
         url('../fonts/oswald-bold_0.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswaldheavy';
    src: url('../fonts/oswald-heavy.eot');
    src: url('../fonts/oswald-heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-heavy.woff2') format('woff2'),
         url('../fonts/oswald-heavy.woff') format('woff'),
         url('../fonts/oswald-heavy.ttf') format('truetype'),
         url('../fonts/oswald-heavy.svg#oswaldheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/oswald-light_0.eot');
    src: url('../fonts/oswald-light_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-light_0.woff2') format('woff2'),
         url('../fonts/oswald-light_0.woff') format('woff'),
         url('../fonts/oswald-light_0.ttf') format('truetype'),
         url('../fonts/oswald-light_0.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'oswald_regularregular';
    src: url('../fonts/oswald-regular_0.eot');
    src: url('../fonts/oswald-regular_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular_0.woff2') format('woff2'),
         url('../fonts/oswald-regular_0.woff') format('woff'),
         url('../fonts/oswald-regular_0.ttf') format('truetype'),
         url('../fonts/oswald-regular_0.svg#oswald_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular_4.eot');
    src: url('../fonts/opensans-regular_4.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular_4.woff2') format('woff2'),
         url('../fonts/opensans-regular_4.woff') format('woff'),
         url('../fonts/opensans-regular_4.ttf') format('truetype'),
         url('../fonts/opensans-regular_4.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswaldmedium';
    src: url('../fonts/oswald-medium.eot');
    src: url('../fonts/oswald-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-medium.woff2') format('woff2'),
         url('../fonts/oswald-medium.woff') format('woff'),
         url('../fonts/oswald-medium.ttf') format('truetype'),
         url('../fonts/oswald-medium.svg#oswaldmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{font-family:open_sansregular;}

/*****************************************************************************
***************************css for header sec start***************************
******************************************************************************/

.top_section1{background:#29488f;}
.slogan {
  color: #FFFFFF;
  display: block;
  font-family: oswald_regularregular;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase; padding:7px 0;
}

.top_head_info{ text-align:right;}
.top_head_info li {
  color: #FFFFFF;
  display: inline-block;
  font-family: oswaldlight;
  font-size: 14px;
  vertical-align: top; border-left:1px solid #345195; padding:7px 12px; position:relative;
}
.top_head_info li:last-child{border-right:1px solid #345195;}
.top_head_info li a{color:#fff;}

.head_section2 {
  background: none repeat scroll 0 0 #FFFFFF;
  position: relative;
}
.logo{position:relative; line-height:67px; display:inline-block; min-width: 265px;}
.logo .logo_img{position:absolute; top:-24px; z-index:999; right:0;}
.logo_name {
  color: #29488F;
  font-family: oswaldheavy;
  font-size: 30px;
}
.logo_name em {
  color: #F26922;
  font-style: normal;
}

.main_navigation{padding: 22px 0;}
.main_navigation .navbar-nav > li > a {
  color: #333333;
  font-family: oswald_regularregular;
  font-size: 17px;
  margin: 0 10px;
  padding: 5px 8px;
  text-transform: uppercase;
}
.main_navigation .navbar-nav > li:last-child a{margin-right:0;}
.main_navigation .navbar-nav .active a{background:#f26922; color:#fff;}
.main_navigation .navbar{margin:0; border:none; min-height:inherit;}
.main_navigation .collapse{padding:0;}

.online_member_sect {
  background: none repeat scroll 0 0 #29488F;
  bottom: -35px;
  color: #FFFFFF;
  height: 35px;
  left: 0;
  padding: 8px 3px;
  position: absolute;
  text-align: right;
  width: 43%;
  z-index:99;
}
.online_member_sect h3 {
  font-family: oswaldlight;
  font-size: 15px;
}
.online_member_sect span {
  display: inline-block;
  font-size: 17px;
  padding-left: 5px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}
.online_member_sect:before {
  border-right: 52px solid rgba(0, 0, 0, 0);
  border-top: 35px solid #fff;
  content: "";
  height: 0;
  position: absolute;
  right: -52px;
  top: 0;
  width: 0;
}
.online_member_sect:after {
  border-right: 40px solid rgba(0, 0, 0, 0);
  border-top: 35px solid #29488F;
  content: "";
  height: 0;
  position: absolute;
  right: -40px;
  top: 0;
  width: 0;
}



.header_u_sect {
 /* background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);*/
 background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 13px 0;
}
.menu_bar_targ {
  color: #FFFFFF;
  display: inline-block;
  font-family: open_sansregular;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  width: 110px;
}
.menu_bar_targ span {
  font-size: 24px;
  padding-right: 6px;
  position: relative;
  top: 1px;
}
.menu_bar_targ:hover, .menu_bar_targ:focus{color:#fff;}

.logo_pt_app {
  color: #FFFFFF;
  font-family: open_sansregular;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.top_menu_log{position:relative;}
.top_menu_log li{display:inline-block;}
.top_menu_log li a {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: inline-block;
  font-size: 13px;
  margin: 0px 2px;
  padding: 3px ;
  text-transform: uppercase;
}
.sign_up_btn {
  background: none repeat scroll 0 0 #c80404;;
  border: 1px solid #FFF !important;
}


.slider_wrapper{position:relative; /*background:#333;*/}
.slider_wrapper .owl-nav{position:absolute; width:100%;top:45%; text-indent: -80px;}

.slider_wrapper .owl-nav .owl-prev, .slider_wrapper .owl-nav .owl-next{display:block !important; }

.slider_wrapper .owl-nav .owl-prev:after {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  content: "\f104";
  display: block;
  font-family: 'FontAwesome';
  font-size: 35px;
  height: 55px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  width: 30px; top:0; text-indent:-5px;
}

.slider_wrapper .owl-nav .owl-next:after {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  content: "\f105";
  display: block;
  font-family: 'FontAwesome';
  font-size: 35px;
  height: 55px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  width: 30px; right:0; top:0; text-indent:2px;
}


/*****************************************************************************
***************************css for header sec end  ***************************
******************************************************************************/


/*****************************************************************************
***************************css for conten sec start***************************
******************************************************************************/

.title_sect1 {
  padding: 40px 0;
  position: relative;
  text-align: center; /*margin-bottom:20px;*/
}
.title_sect1 h3{ font-family:oswaldlight; font-size:30px; color:#333; text-transform:uppercase;}
.title_sect1 h3 span{ font-family:oswaldbold; color:#29488f;}
.title1_strip {
  background: none repeat scroll 0 0 #333333;
  bottom: 15px;
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 300px;
}
.title1_strip:after {
  background: none repeat scroll 0 0 #333333;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  bottom: -10px;
  content: "";
  height: 22px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 22px;
}

.title_sect2 {
  padding:0 0 40px 0;
  position: relative;
  text-align: center; margin-bottom:20px;
}
.title_sect2 h3{ font-family:oswaldlight; font-size:30px; color:#fff; text-transform:uppercase;}
.title_sect2 h3 span{ font-family:oswaldbold;}
.title1_strip2 {
  /*background: none repeat scroll 0 0 #fff;*/
  bottom: 15px;
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 300px;
}
.title1_strip2:after {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  bottom: -7px;
  content: "";
  height: 15px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 15px;
}

.icon_block_section {
  border: 1px dashed #D9D9D9;
  margin: 20px 0;
  padding: 20px;
  position: relative;
}
.icon_block {
  display: block;
  min-height: 100px;
  padding-bottom: 20px;
  text-align: center;
}
.icon_block i {
  color: #29488F;
  font-size: 60px;
  font-style: normal;
  line-height: 100px;
}

.icon_block_section h3 {
  display: block;
  font-family: oswaldbold;
  font-size: 16px;
  padding: 3px 0 20px;
  text-align: center;
  text-transform: uppercase;
}
.icon_block_section p {
  color: #202020;
  font-family: open_sansregular;
  font-size: 13px;
  line-height: 22px;
}
/*****************************************************************************
***************************css for conten sec end  ***************************
******************************************************************************/
.service_section1{padding-bottom:40px;}
.service_section2{background:url(../images/bg1.jpg); background-attachment:scroll; background-position:top center; padding:40px 0;}


.services_block1 {
  background: none repeat scroll 0 0 #FFFFFF;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width:100%;margin:15px 0;
}
.services_block_img {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}
.services_block_cont {
  display: inline-block;
  min-height: 235px;
  padding: 16px 14px;
  vertical-align: top;
  width: 54%; position:relative;
}
.services_block_cont h3 {
  font-family: oswaldbold;
  font-size: 18px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.services_block_cont h3 a{color:#333;}
.services_block_cont p {
  font-family: open_sansregular;
  font-size: 14px;
  line-height: 23px;
}
.readmore_btn {
  background: none repeat scroll 0 0 #F26922;
  bottom: 0;
  box-shadow: -30px 0 0 #D05A1D inset;
  color: #FFFFFF;
  display: inline-block;
  font-family: oswaldlight;
  font-size: 15px;
  height: 30px;
  margin: 3px 3px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  width: 114px;
}
.readmore_btn span {
  font-size: 11px;
  height: 30px;
  line-height: 20px;
  padding: 5px 6px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
}
.readmore_btn:hover{color:#fff;}


.services_block2 {
  background: none repeat scroll 0 0 #FFFFFF;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 47.15%;margin:15px 0;
}
.services_block2 .services_block_img {
  max-height: 139px;
  overflow: hidden;
  width: 100%;
}
.services_block2 .services_block_cont {
  width: 100%;
  padding-bottom:29px;
}

.margin_left1 {
  margin-left: 28px;
}


.service_section3{padding:10px 0 50px 0;}
.brands_sect{position:relative;}
.brand_img {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  display: block;
  height: 70px;
  line-height: 49px;
  padding: 10px 15px;
  width: 169px;
}
.brand_img a {
  display: block;
}
.brand_img img {
  display: inline-block !important;
  vertical-align: middle;
}
/*.client_testimonial_sect .owl-nav{position:absolute;}
.client_testimonial_sect .owl-nav .owl-prev, .client_testimonial_sect .owl-nav .owl-next{display:block !important;}*/


.section4 {

  background-attachment:scroll; background-position:top center;
  padding:40px 0 60px 0;
  position: relative;
}
.section4:before {
  background-color:rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}


.section5 {
  padding: 0 0 40px;
  position: relative;
}
.plan_block {
  background: #f4f4f4 none repeat scroll 0 0;
  box-shadow: 0 0 2px #ccc;
  color: #333;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  padding: 15px 0;
  position: relative;
  text-align: center;
  width: 300px;
}
.plan_block h4 {
  font-family: oswaldbold;
  font-size: 32px;
  padding: 10px 6px;
}
.plan_block p {
  font-family: oswaldlight;
  font-size: 20px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

/*****************************************************************************
***************************css for footer sec start ***************************
******************************************************************************/

.footer_sect{background:url(../images/map_bg.png) no-repeat center top #202020; padding:45px 0;}

.footer_title {
  color: #FFFFFF;
  font-family: oswaldbold;
  font-size: 20px;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.footer_info li {
  color: #999999;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 17px;
  padding-left: 40px;
  position: relative;
}
.footer_info span {
  font-size: 23px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px;
}
.footer_info a{color:#999;}

.footer_cont_wid p{color:#707070; font-size:13px; line-height:20px; margin-bottom:10px;}

.subscribe_wrap{position:relative; padding-top:15px;}
.subscribe_wrap .form-control{background:none; border-radius:0; border:1px solid #4f4f4f; color:#4f4f4f;  font-size: 13px;}
.subscribe_wrap .input-group-addon{padding:0; border-radius:0; border:none;}
.subscribe_wrap .input-group-addon button {
  background: none repeat scroll 0 0 #C80404;
  border: medium none;
  color: #FFFFFF;
  font-family: oswald_regularregular;
  font-size: 14px;
  padding: 10px 6px;
  text-transform: uppercase;
}

.social_icon {
  position: relative;
}
.social_icon li {
  display: inline-block;
  position: relative; vertical-align:top;
}
.social_icon li a {
  background: none repeat scroll 0 0 #333333;
  color: #FFFFFF;
  display: block;
  font-size: 22px;
  height: 35px;
  line-height: 35px;
  margin: 5px 3px;
  text-align: center;
  width: 35px;
}
.facebook_icon{background:#204385 !important;}
.twitter_icon{background:#2aa9e0 !important;}
.youtube_icon{background:red !important;}
.linkedin_icon{background:#02669a !important;}

.footer_section2 {
  background: none repeat scroll 0 0 #1A1A1A;
  padding: 10px 0;
}
.footer_section2 p {
  color: #999999;
  font-family: oswaldlight;
  font-size: 13px;
}
.footer_links {
  position: relative;
}
.footer_links li {
  border-right: 1px solid #999999;
  display: inline-block;
  line-height: 12px;
  padding: 0 13px 0 7px;
}
.footer_links li:last-child{border-right:none;}
.footer_links li a{color:#999;font-size: 14px;font-family: oswaldlight;}

.quick_links ul {
  line-height: 25px;
}
.quick_links ul li{position:relative;}
.quick_links ul li:before{content:"\f105"; color:#999999; font-size:14px; font-family:FontAwesome;}
.quick_links ul li a {
  color: #999999;
  font-size: 13px;
  padding-left: 10px;
}

/*****************************************************************************
***************************css for footer sec end ***************************
******************************************************************************/


.testimonial_sect{position:relative;padding: 0 4%;}
.testimonial_block{position:relative;}

.testimonial_title{position:relative; color:#fff; font-size:28px; font-family:oswald_regularregular; text-transform:uppercase;display: inline-block; }
.testimonial_title span {
  color: #CCCCCC;
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  text-transform: none;
}
.testimonial_cont {
  background: none repeat scroll 0 0 rgba(41, 72, 143, 0.8);
  color: #FFFFFF;
  display: inline-block;
  float: right;
  font-family: oswaldlight;
  font-size: 22px;
  line-height: 30px;
  padding: 12px 20px;
  width: 60%; position:relative;
}
.testimonial_sect .owl-nav {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.testimonial_sect .owl-nav .owl-prev, .testimonial_sect .owl-nav .owl-next {
  display: block !important;
  font-size: 0;
  position: relative;
}
.testimonial_sect .owl-nav .owl-prev:after{content:"\f104"; position:absolute; font-family: 'FontAwesome'; font-size:35px; color:#fff; left:-35px;}
.testimonial_sect .owl-nav .owl-next:after{content:"\f105"; position:absolute; font-family: 'FontAwesome';  font-size:35px; color:#fff; right:-35px;}


.modal-dialog {
  margin: 10% auto;
}
.modal-content{border-radius:0;}
.login_reg_panel {
   position:fixed;
  right: 0;
  top: 140px;
  z-index: 999;
}
.login_reg_panel li {
  display: block;
}
.login_reg_panel li a {
  background: none repeat scroll 0 0 #FFA500;
  color: #FFFFFF;
  display: block;
  font-family: oswald_regularregular;
  font-size: 16px;
  margin: 8px 0;
  padding: 5px 7px;
  text-align: center;
  text-transform: uppercase;
}
.custom_modal .modal-header{padding: 8px 15px;}

.custom_modal .modal-title {
  font-family: oswaldlight;
  font-size: 26px; color:#fff;
}
.custom_modal .close {
  color: #FFFFFF;
  font-size: 30px;
}
.custom_modal .form-control {
  border: 1px solid #CCCCCC;
  border-radius: 0;
  box-shadow: none;
  height: 45px;
  margin-bottom: 15px;
}
.custom_modal .modal-header{ background: none repeat scroll 0 0 #29488F;
    border-bottom: 1px solid #29488F;}
.custom_modal .checkbox {
  color: #666666;
  font-size: 13px;
}
.orange_btn {
  background: none repeat scroll 0 0 #F26922;
  border: medium none;
  color: #FFFFFF;
  font-size: 17px;
}


/**** profile section css ****/
.inner_head_sect{position:relative; background:url(../images/bg1.jpg); background-size:cover; padding:110px 0 50px 0;}

.user_profile_pic {
  display: block;
}
.user_profile_info {
  padding: 20px 0;
  position: relative;
}
.user_profile_info h3 {
  color: #FFFFFF;
  font-family: oswaldlight;
  font-size: 30px;
}
.user_profile_info .user_degi {
  color: #CCCCCC;
  display: block;
  font-size: 20px;
  padding: 5px 0;
}
.user_profile_info p {
  color: #FFFFFF;
  font-size: 13px;
}
.social_icon_user {
  position: relative;
}
.social_icon_user li {
  display: inline-block;
}
.social_icon_user li a {
  background: none repeat scroll 0 0 #CCCCCC;
  color: #000000;
  display: block;
  font-size: 22px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
}

.main_container {
  padding: 40px 0;
}
.main_container p {
  margin-bottom: 15px;
}
.panel_app {
  border: 1px solid #DDDDDD;
  border-radius: 0;
}
.panel_app .panel-heading {
  background: none repeat scroll 0 0 #29488F;
  border-radius: 0;
  color: #FFFFFF;
  font-family: oswaldlight;
}

.page_title {
  color: #FFFFFF;
  font-family: oswaldlight;
  font-size: 33px;
  padding-top: 25px;
  text-transform: uppercase;
}



/*** traineee profile page css **/
.trainee_tabs_sect h3 {
  border-bottom: 2px solid #29488F;
  display: inline-block;
  font-family: oswald_regularregular;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 5px 0 10px;
  text-transform: uppercase;
}
.trainee_tabs_sect .nav_tabs{border:1px solid #ececec;}
.trainee_tabs_sect .nav_tabs li{border-bottom:1px solid #ececec;}
.trainee_tabs_sect .nav_tabs li a {
  color: #333333;
  display: block;
  font-size: 15px;
  padding: 8px 10px;
}
.trainee_tabs_sect .nav_tabs .active a {
  background: none repeat scroll 0 0 #29488F;
  color: #FFFFFF;
}

.trainee_tab_content {
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  min-height: 500px;
  padding: 20px 20px;
}

.infoSummary{ position:relative;}
.infoSummary ul li {
  color: #333333;
  font-family: oswald_regularregular;
  font-size: 17px;
  line-height: 32px;
  padding-left: 135px;
  position: relative;
}
.infoSummary ul li span {
  color: #666666;
  font-family: oswald_regularregular;
  left: 0;
  position: absolute;
}
.infoSummary h3{color:#666;font-family: oswald_regularregular;}
.infoSummary h3 {
  color: #666666;
  font-family: oswald_regularregular;
  padding: 25px 0 10px;
}
.infoSummary p {
  color: #333333;
  font-size: 16px;
}

.trainne_widget_section {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}
.trainne_widget_section h4 {
  background: none repeat scroll 0 0 #F2F2F2;
  border-bottom: 1px solid #DDDDDD;
  border-radius: 3px 3px 0 0;
  color: #333333;
  font-family: oswald_regularregular;
  height: 43px;
  line-height: 22px;
  padding: 12px 15px;
}
.trai_widg_body{padding:12px;}

.comp_small_widget {
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  vertical-align: top;
}
.comp_small_widget h5 {
  color: #666666;
  font-family: oswald_regularregular;
  font-size: 16px;
}
.comp_small_widget span {
  color: #E73D35;
  font-family: oswald_regularregular;
  font-size: 33px;
}
.comp_small_widget small {
  color: #333333;
  font-family: oswald_regularregular;
  font-size: 22px;
  padding-left: 5px;
}

.trai_title_sect {
  border-bottom: 1px solid #DDDDDD;
  color: #333;
  font-family: oswald_regularregular;
  font-size: 20px;
  padding-bottom: 8px; position:relative; margin-bottom:20px;
}
.trai_title_sect:before {
  border-bottom: 3px solid #29488F;
  bottom: -2px;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  width: 40px;
}
.trainee_tab_content h4 {
  font-size: 20px;
  padding: 14px 0;
}
.traine_photo_gal ul li {
  border: 1px solid #DDDDDD;
  display: inline-block;
  margin: 5px;
  padding: 2px;
}

.tai_sub_tab{ position:relative;}
.tai_sub_tab li {
  border: 1px solid #DDDDDD;
  display: table-cell;
  text-align: center;
  width: 1%;
}
.tai_sub_tab li a {
  background: none repeat scroll 0 0 #ECECEC;
  color: #666666;
  display: block;
  font-size: 16px;
  padding: 8px 16px;
}
.tai_sub_tab .active a{background:#333; color:#fff;}
.tai_sub_cont{border:1px solid #ddd; padding:15px; border-top:none;}


.photo_post_list{position:relative;}
.photo_post_list ul li {
  display: inline-block;
  margin: 12px 8px;
  position: relative;
  vertical-align: top;
  width: 30.9%;
}
.photo_post_list ul li a {
  border: 1px solid #CCCCCC;
  display: block;
  overflow: hidden;
}
.photo_post_list ul li a span {
  background: none repeat scroll 0 0 #E73D35;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 5px;
  padding: 2px 7px;
  position: absolute;
  right: 0;
}
.photo_post_list ul li a h3 {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 99%;
}



.photo_video_list ul li {
  display: inline-block;
  margin: 12px 8px;
  position: relative;
  vertical-align: top;
  width: 46.9%;
}
.photo_video_list ul li a {
  border: 1px solid #CCCCCC;
  display: block;
  overflow: hidden;
}
.photo_video_list ul li a span {
  background: none repeat scroll 0 0 #E73D35;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 5px;
  padding: 2px 7px;
  position: absolute;
  right: 0;
}
.photo_video_list ul li a h3 {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 99%;
}


#map_display {
  height: 598px;
  position: absolute !important;
  top: 0;
}

.dash_photo_gallery {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 15px;
}

.photos_tabs {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  display: inline-block;
  height: 34px;
  position: relative; overflow:hidden;
}
.photos_tabs li {
  display: inline-block;
  float: left;
}
.photos_tabs li a {
  border-right: 1px solid #DDDDDD;
  color: #333333;
  display: block;
  font-size: 15px;
  height: 32px;
  padding: 5px 13px;
}
.photos_tabs li:last-child a{border:none;}
.photos_tabs .active a {
  background: none repeat scroll 0 0 #E73D35;
  color: #FFFFFF;
  overflow: hidden;
}
.photos_tab_content{padding:10px 0 !important;}
.photo_gallery_list{position:relative;}
.photo_gallery_list li {
  border: 1px solid #DDDDDD;
  display: inline-block;
  float: left;
  margin: 5px;
  padding: 2px;
  vertical-align: top;
  width: 15.7%; min-height:170px;
}
.photo_upload_sect {
  border: 1px solid #CCCCCC;
  display: inline-block;
  height: 170px;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.photo_upload_sect span {
  border: 3px dashed #999999;
  bottom: 0;
  color: #999999;
  display: block;
  font-size: 65px;
  height: 135px;
  left: 0;
  line-height: 120px;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 135px;
}
.photo_upload_sect h5 {
  bottom: 28px;
  color: #666666;
  font-size: 13px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.photo_upload_sect input {
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 999;
}
.submit_btn {
  background: none repeat scroll 0 0 #29488F;
  color: #FFFFFF;
}
.submit_btn:hover, .submit_btn:focus{background:#29488F; color:#fff;}

.trainee_img{}
.trainee_img:hover .upload_profile_img{display:block;}
.upload_profile_img {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  bottom: 0;
  color: #FFFFFF;
  font-size: 15px;
  left: 0;
  padding: 45px 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999; display:none;  -webkit-transition: all 0.4s ease-in-out 0.1s; -moz-transition: all 0.4s ease-in-out 0.1s; transition: all 0.4s ease-in-out 0.1s;
}
.upload_profile_img:hover{color:#fff;}
.upload_profile_img .fa {
  color: #CCCCCC;
  font-size: 50px;
  padding: 5px 0;
}
.upload_profile_img span {
  display: block;
}
.upload_profile_img input{position:absolute; width:100%; height:100%; top:0; left:0; bottom:0; opacity:0;}

.trainer_search {
  width: 70%;
  margin: 0 auto;
    padding-bottom: 2rem;
}
.trainer_search .form-control {font-size: 18px;height: 50px;}
.trainer_search .input-group-addon span {font-size: 30px;}	
.trainer_sec {border: 1px solid;padding: 2px; margin-bottom:30px;}
.trainer_search .form-control {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}
.trainer_sec {border: 1px solid;padding: 2px; margin-bottom:30px;}
.trainer_img {overflow: hidden;position: relative; cursor:pointer;}	

.ourtrainer_wrap h3 {font-weight: bold;padding-bottom: 15px;}
.trainer_info{ padding:0 5px;}
.trainer_info p{margin:0;}
.trainer_info p:first-child{ font-size:16px;}	
.trainer_info {
    background-color: #D93931;
    color: #FFFFFF;
}
.trainer_img {
    height: 250px;
}


.meal_plan_sec {}
.meal_plan_nav li{ display: table-cell; vertical-align:middle; padding-right:15px; width:1%}
.meal_plan_nav li:last-child{ padding-right:0;}
.meal_plan_nav li a{ display:block; padding:10px 0; border:2px solid ; text-align:center; font-size:18px; border-radius:6px;}
.meal_plan_nav li a:hover,
.meal_plan_nav li a:focus,
.meal_plan_nav li.active a{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fd6962+0,f2534c+50,e73d35+100 */
background: #fd6962; /* Old browsers */
background: -moz-linear-gradient(top,  #fd6962 0%, #f2534c 50%, #e73d35 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd6962), color-stop(50%,#f2534c), color-stop(100%,#e73d35)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fd6962 0%,#f2534c 50%,#e73d35 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fd6962 0%,#f2534c 50%,#e73d35 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fd6962 0%,#f2534c 50%,#e73d35 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fd6962 0%,#f2534c 50%,#e73d35 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd6962', endColorstr='#e73d35',GradientType=0 ); /* IE6-9 */
color:#fff; border-color:#ec473f;}
.meal_plan_sec .tab-content{ padding:30px 0 ; }
.meal_plan_sec .tab-content .tab-content{ padding:0;}
.meal_plan_heading{ padding:15px; border-radius:12px; }
.mph_left h1{ display:inline-block; vertical-align:middle;}
.mph_right{ text-align:right;}
.mph_right h3, .mph_right .pagination_nav,  .mph_right .dropdown{ display:inline-block; vertical-align:middle;}
.mph_right .dropdown button {border: 1px solid;font-size: 17px;padding: 3px 35px 3px 10px; position:relative; min-width:140px;}
.mph_right .dropdown button span{ width:30px; height:100%; position:absolute; right:0; top:0; border-left:1px solid;}
.mph_right .dropdown button span::before {border-left: 7px solid rgba(0, 0, 0, 0);border-right: 7px solid rgba(0, 0, 0, 0);
  										  border-top: 7px solid ;content: "";height: 0;position: absolute; right: 7px;
  										  top: 13px; width: 0;}

.mp_pagination li { border: 1px solid;border-collapse: collapse;display: table-cell;text-align: center;width: 35px;}
.mp_pagination li:not(:last-child){ border-right:none;}
.mp_pagination li a {display: block;font-size: 17px;padding: 3px 5px;}	
.caret_left {border-bottom: 7px solid rgba(0, 0, 0, 0);border-right: 7px solid;border-top: 7px solid rgba(0, 0, 0, 0);
  			content: "";display: inline-block;height: 0;vertical-align: middle;width: 0;}
.caret_right { border-bottom: 7px solid rgba(0, 0, 0, 0); border-left: 7px solid;border-top: 7px solid rgba(0, 0, 0, 0);
               content: "";display: inline-block;height: 0;vertical-align: middle;width: 0;
			 }
.mp_types{ float:left; width:105px;}								 
.mp_days{ float:right; width:88%;}
.meal_plan_body {padding-top: 15px;}
.mp_days .table_heading{ width:100%; margin-bottom:10px; border-radius:6px;}
.mp_days .table_heading tr th{ text-align:center; vertical-align:middle; padding-bottom:10px ;}
.mp_days .table_heading tr th div {border-right: 1px solid;font-size: 18px; font-weight: normal;padding: 10px 0;}
.mp_days .table_heading tr th:first-child div{ border-radius:4px 0 0 4px}
.mp_days .table_heading tr th:last-child div{ border-radius:0 4px 4px 0}
.mp_days table tr td {width: 14.285%;}
.table_body tr td {border: 1px solid;height: 100px;text-align: center;vertical-align: middle;}


.meal_plan_heading {
  background-color: #666666;
  color: #FFFFFF;
}
.mp_types li {font-size: 18px;text-align:center;margin-bottom:10px; min-height:92px;}
.mp_types li span{ display:block; font-size:50px; line-height:60px;}
.meal_plan_body .mp_types li:nth-child(1){ border: 2px solid;border-radius: 4px;padding: 8px 5px; min-height:inherit;}
.panel_block_body li:before,
.panel_block_body li:after{ display:table; clear:both; content:"";}
.pbb_left{ float:left;}
.notification .pbb_left{  width:80%;}

.pbb_right{ float:right; text-align:right;}
.location_name {display: inline-block;font-size: 10px;padding-top: 15px;vertical-align: middle;}
.pbbl_img{ display:inline-block; vertical-align:middle; width:38px; height:38px; overflow:hidden; border:1px solid; border-radius:50%;}
.pbbl_img img{ max-width:100%;height:auto;}
.pbbl_txt{ display:inline-block; vertical-align:middle;}
.notification .pbbl_txt{width:77%;}
.panel_block_heading {border-radius: 4px 4px 0 0;padding: 10px;}
.panel_block_body{overflow:hidden;}
.notification .panel_block_body{ overflow:hidden;}
.panel_block_body ul li {border-bottom: 1px solid #ededed;padding: 5px 10px;}
.panel_block_body ul li:hover, .panel_block_body ul li:hover .pbbl_txt ,.panel_block_body ul li:hover .mesg_time{background-color:#3254a2; color: #fff; }

.panel_block_body ul li:last-child{ border-bottom:none;}
.panel_block {border: 1px solid;border-radius: 4px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ border-radius:0; width:5px;}
.mesg_time { display: inline-block;font-size: 10px;padding-top: 15px;vertical-align: middle;}
.pbbl_txt p{ font-size:10px;}
.account_billing_tab{ padding-top:30px;}
.abt_inner, .photo_videos{ border:1px solid; border-radius:4px;}
.accunt_billing_nav li, .pv_nav li{ display:inline-block; vertical-align:middle;}
.accunt_billing_nav li a,  .pv_nav li a {display: block;font-size: 18px;padding: 10px 20px;position:relative;}
.accunt_billing_nav li.active a::after,
.pv_nav li.active a::after {bottom: -2px;content: "";height: 2px;left: 0;position: absolute;width: 100%;}
.fp, .dha{ float:left; width:50%;}
.dha{ text-align:right;}
.fp a, .dha a{ display:block;}

.account_details li{ padding:15px 0; position:relative;}
.account_details li:not(:last-child){ border-bottom:1px solid}
.account_details li strong,
.account_details li span{ display:inline-block; vertical-align:middle;}
.account_details li strong{ font-size:16px; min-width:160px; text-align:right;}
.account_details li span{ padding-left:5px;}

.account_details li:not(:last-child)::after { background-color: #fff;bottom: -1px;content: "";height: 1px;left: 0;position: absolute;
  											  width: 160px;}


.top_nav li a {
  color: #ffffff;
}
.top_nav li a:hover,
.top_nav li a:focus {
  color: #fd4239;
}
.mainmenu_nav li a {
  color: #ffffff;
}
.mainmenu_nav li a:hover,
.mainmenu_nav li a:focus {
  color: #fd4239;
}
.main_nav {
  background-color: rgba(0, 0, 0, 0.3);
}
.carousel-caption h1 span {
  color: #fd4239;
}
.carousel-caption button {
  background-color: #fd4239;
}
.hiw_left_body ul li:before {
  background-color: #fd4239;
}
.carusel_btn:after {
  background-color: #d93931;
}
.sec_heading h1 {
  color: #333333;
}
.sec_heading h1::before {
  background-color: #333333;
}
.sec_body,
.sec_heading p,
.ser_txt p {
  color: #666666;
}
.ser_img img {
  border-color: #d93931;
}
.trainer_block {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.tsocial_links li a {
  color: #ffffff;
}
.tsocial_links li a:hover,
.tsocial_links li a:focus {
  color: #fd4239;
}
.tread_more {
  background-color: #fd4239;
}
.tread_more a {
  color: #ffffff;
}
.lnb_top a {
  background-color: #fd4239;
  color: #ffffff;
}
.session_price {
  border-bottom-color: #666666;
}
.testi_txt p {
  color: #ffffff;
}
.pb_body {
  background-color: #f2f2f2;
}
.testi_img {
  border-color: #333333;
}
.pb_heading h2 {
  color: #ffffff;
}
.session_order a {
  color: #ffffff;
  background-color: #fd4239;
}
.contact_block {
  background-color: #666666;
}
.contact_block .form-control {
  border-color: #bcbcbc;
}
.cb_heading h1 {
  color: #f2f2f2;
}
.footer_nav li a,
.footer_left {
  color: #ffffff;
}
.footer_nav li a:hover,
.footer_nav li a:focus {
  color: #fd4239;
}
.footer_sec,
.header_sec.affix {
  background-color: rgba(0, 0, 0, 0.9);
}
.trainee_img {
  border-color: #bcbcbc;
}
.trainee_detail {
  color: #ffffff;
}
.trainee_streams li a,
.trainee_social_link li a {
  color: #ffffff;
}
.trainee_streams li a span {
  border-color: #ffffff;
}
.meal_plan_nav li a {
  color: #666666;
  border-color: #666666;
}
.meal_plan_heading {
  color: #fff;
  background-color: #666666;
}
.mph_right .dropdown button span::before {
  border-top-color: #fd4239;
}
.mph_right .dropdown button span {
  border-left-color: #bcbcbc;
}
.mph_right .dropdown button {
  border-color: #bcbcbc;
  color: #666666;
}
.mp_pagination li {
  border-color: #bcbcbc;
  background-color: #ffffff;
}
.caret_left {
  border-right-color: #fd4239;
}
.caret_right {
  border-left-color: #fd4239;
}
.mp_pagination li a {
  color: #333333;
}
.mp_pagination li a:hover,
.mp_pagination li a:active,
.mp_pagination li.active a {
  color: #ffffff;
  background-color: #fd4239;
}
.mp_days .table_heading tr th div {
  background-color: #746fd9;
  border-right-color: #ffffff;
  color: #ffffff;
}
.table_body tr td {
  border-color: #333333;
}
.table_body tr:nth-child(odd) td:nth-child(odd) {
  background-color: #ededed;
}
.table_body tr:nth-child(even) td:nth-child(odd) {
  background-color: #ffffff;
}
.table_body tr:nth-child(even) td:nth-child(even) {
  background-color: #ededed;
}
.trainee_dash_body {
  background-color: #fafafa;
}
.mp_types ul li {
  color: #fff;
  border-radius: 4px;
}
.mp_types ul li:nth-child(odd) {
  background-color: #eb69aa;
}
.mp_types ul li:nth-child(even) {
  background-color: #746fd9;
}
.meal_plan_body .mp_types li:nth-child(1) {
  background-color: #ffffff;
  border-color: #ededed;
  color: #666666;
}
.panel_block_heading {
  background-color: #666666;
  color: #ffffff;
}
.white .panel_block_heading {
  background-color: #ffffff;
  color: #666666;
  border-bottom-color: #f2f2f2;
}
.panel_block {
  border-color: #ededed;
  background-color: #ffffff;
}
.pbbl_img {
  border-color: #ededed;margin-right: 5px;
}
.mCSB_scrollTools {
  background-color: #ededed;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fd4239;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: #d93931;
}
.abt_inner,
.photo_videos {
  background-color: #ffffff;
  border-color: #ededed;
}
.accunt_billing_nav li a,
.pv_nav li a {
  color: #333333;
}
.accunt_billing_nav,
.pv_nav {
  border-bottom: 2px solid #ededed;
}
.accunt_billing_nav li.active a::after,
.pv_nav li.active a::after {
  background-color: #d93931;
}
.accunt_billing_nav li:first-child a,
.pv_nav li:first-child a {
  border-right: 1px solid #ededed;
}
.login_modal .modal-header,
.signup_modal .modal-header {
  background-color: #d93931;
  color: #ffffff;
}
.lsmb_btn {
  color: #ffffff;
}
.or::before {
  background-color: #fd4239;
}
.or h3 {
  background-color: #ffffff;
  color: #bcbcbc;
}
.fp a,
.dha a {
  color: #333333;
}
.account_details li:not(:last-child) {
  border-bottom-color: #ededed;
}
.account_details li span {
  color: #666666;
}
.login_modal .close,
.signup_modal .close,
.suoption_modal .close {
  color: #ffffff;
}
.login_modal .close:focus,
.login_modal .close:hover,
.signup_modal .close:focus,
.signup_modal .close:hover,
.suoption_modal .close:focus,
.suoption_modal .close:hover {
  color: #ffffff;
}
.signup_modal button .caret {
  border-top-color: #d93931;
}
.suoption_modal .modal-header {
  background-color: #d93931;
  color: #ffffff;
}
.responsive-calendar .day.today a {
  background-color: #d93931;
  color: #ffffff;
}
.al_heading {
  background-color: #f2f2f2;
}
.al_body li,
.responsive-calendar .day.header {
  border-bottom-color: #f2f2f2;
}
.appointment_list {
  border-left-color: #f2f2f2;
}
.hireme_btn {
  color: #ffffff;
}
.hireme_btn:hover,
.hireme_btn:focus {
  color: #d93931;
}
.review_rating span {
  background-color: #d93931;
  color: #ffffff;
}
.trainers_skills span {
  color: #746fd9;
}
.trainer_search .form-control {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.trainer_search .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.trainer_search .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.trainer_search .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
.trainer_sec {
  background-color: #ffffff;
  border-color: #666666;
}
.trainer_social_link {
  background-color: rgba(0, 0, 0, 0.5);
}
.trainer_social_link li a {
  background-color: #ffffff;
}
.trainer_info {
  background-color: #d93931;
  color: #ffffff;
}
 label.error {
    color: red;
    font-size: 100%;
    font-style: italic;
}
.submit_profile {
    background: #fff none repeat scroll 0 0;
    color: #000;
}
.add_profile{
margin-top:100px;

  /*float: right;*/
}
#responseemployerpass{
text-align:center;
padding:10px;
background:#eee;
border: 1px solid #29488F;
color:#29488F;
display:none;
margin:10px;

}
#result{

text-align:center;
padding:10px;
background:#eee;
border: 1px solid #29488F;
color:green;
display:none;
margin:10px;

}
.verify1{

text-align:center;
padding:10px;
background:#eee;
border: 1px solid #29488F;
color:red;
display:none;
margin:10px;

}
.verify{
text-align:center;
padding:10px;
background:#eee;
border: 1px solid #29488F;
color:green;
display:none;
margin:10px;
  
}
#responseemployerpass_div{

text-align:center;
padding:10px;
background:#eee;
border: 1px solid #29488F;
color:red;
display:none;
margin:10px;

}
#hire_result{
color:green;
text-align:center;
display:none;
font-style:italic;
}
#hire_result1{
color:red;
text-align:center;
display:none;
font-style:italic;
}
#message{
text-align:center;
padding:10px;
background:#eee;
border: 1px solid #29488F;
color:red;
display:none;
margin:10px;

}
#nutrition{
text-align:center;
padding:10px;
background:#eee;
border: 1px solid #29488F;
color:green;
display:none;
margin:10px;

}
#workout{

text-align:center;
padding:10px;
background:#eee;
border: 1px solid #29488F;
color:green;
display:none;
margin:10px;
  
}
.form-control.hasDatepicker #datepicker{
  
  padding:21px 12px !important;
  
}
.ng-button{

display:none !important;

}
#client_plan{
text-align:center;
padding:10px;
background:#eee;
border: 1px solid #29488F;
color:green;
display:none;
margin:10px;

}
#images{
text-align:center;
padding:10px;
background:#eee;
border: 1px solid #29488F;
color:green;
display:none;
margin:10px;
}
#time_mess{
text-align:center;
padding:10px;
background:#eee;
border: 1px solid #29488F;
color:green;
display:none;
margin:10px;
}
#upload_images{
padding-top:20px;


}
div#show-image {
  position: relative;
  float: left;
  margin: 5px;
}

div#show-image:hover img {
  opacity: 0.5;
}

div#show-image:hover .update {
  display: block;
}

div#show-image .update {
  position: absolute;
  display: none;
}

div#show-image .update {
  top: 10px;
  left: 150px;
}
.prifile-input-field.client tbody th {
    width: 150px;
}

/*
---------------------------------Code Written by Aditya -----------------------
*/

.bg-custom1{
  color : #fff;
  background-color: #006699;
}
.bg-custom2{
  color : #fff;
  background-color: #0A290A;
}
.bg-custom3{
  color : #fff;
  background-color: #669999;
}
.meal_plan_text{
  color: #000000;
}

/*
--------------------------end of Code -----------------------------------------
*/



/** css start for 21 nov **/
.client_box .panel_block_body{max-height:343px; overflow-y: auto;}
.my_trainees .pbb_left{width:80%;}
.my_trainees .pbbl_txt{width:77%;}
.my_trainees .pbbl_txt p{font-size:12px; margin-bottom:0px; padding:11px 0px 5px;}
.start_end_date span {
    display: block;
    font-size: 12px;
    padding: 5px 0px;
}
.my_trainees .pbbl_img{vertical-align: middle;}
.my_trainees .mesg_time{padding-top:2px;}
.plan_div .col-sm-3{display: inline-block; float: none;}
.plan_div {
    text-align: center;
}
/*04 dec 2015 sorav garg*/

.chating_wind_wrapper {
  bottom: -21px;
  position: fixed;
  right: 5px;
  width: 310px;
  z-index: 999;
}
.msg_container_base{max-height: 350px; overflow: auto;}
.chating_wind_wrapper .panel-heading {
  background: none repeat scroll 0 0 #666666;
  position: relative;
}
.chating_wind_wrapper .panel-title {
  color: #FFFFFF;
  display: inline-block;
  padding: 0 4px;
}
.chat_seting_sect {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.chat_time_show {
  color: #FFFFFF;
  font-size: 13px;
}
.chat_seting_sect a {
  color: #FFFFFF;
  margin-left: 8px;
}

.chating_wind_wrapper .panel-footer{position:relative;}
.chat_btn {
  background: none repeat scroll 0 0 #E94139;
  border-radius: 4px !important;
  color: #FFFFFF;
  margin: 0 5px;
}
.chating_wind_wrapper .panel-footer .form-control {
  border-radius: 3px;
  font-family: arial;
  height: 34px;
  margin-right: 10px;
  width: 235px;
}
.online_Status_g {
  background: none repeat scroll 0 0 #ccc;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-left: 10px;
  width: 10px;
}
.active_status{background:#47D54A;}
.chating_wind_wrapper .msg_container {
  position: relative;
}

.base_sent{padding-right:60px;}
.base_receive{padding-left:60px;} 

.base_sent .chat_avatar{right:0;}
.base_receive .chat_avatar{left:0;}
.chat_avatar {
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  top: 12px;
  width: 45px;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:25px !important;
    margin-right:0;
}
.msg_receive{
    padding-bottom:25px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%; position:relative;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
  bottom: 4px;
  color: #999999;
  font-family: arial;
  font-size: 12px;
  position: absolute;
  right: 7px;
}
.chating_wind_wrapper:nth-child(2){right: 320px; }
.chating_wind_wrapper:nth-child(3){right: 635px; }
.chating_wind_wrapper:nth-child(4){right: 950px; } 

#subs{
background:none !important;
}
#add-client-btn{
  color: black;
  float: right;
  font-size: 25px;
  margin-top: -30px;
}
.google_icon_login{
    background: #DD4E42 none repeat scroll 0 0 !important;
}

/*css 16/feb/2016*/
.plan_block_head {
  background:-moz-linear-gradient(#29488F,#29488F) ;
  background:-webkit-linear-gradient(#29488F,#29488F) ;
  color: #fff;
  padding: 10px;
}
.plan_block_head h1 {
  font-size: 28px;
  font-weight: bold;
}
.plan_block_head span {
  display: block;
  font-size: 12px;
  font-weight: normal;
}
.plan_block p {
  border-bottom: 1px solid #ddd;
  font-family: oswaldlight;
  font-size: 14px;
  height: 72px;
  overflow: hidden;
  padding-bottom: 7px;
  padding-top: 7px;
  text-transform: uppercase;
}
.plan_block > button {
  background:-moz-linear-gradient(#29488F,#29488F) ;
  background:-webkit-linear-gradient(#29488F,#29488F) ;
  border: medium none;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  padding: 2px 25px 5px;
  text-transform: capitalize;
}
.plan_block h2 {
  padding-bottom: 10px;
  text-transform: capitalize;
  min-height: 77px;
}
/*css for 16/feb/2016*/
.image_caption h2 {
  font-size: 40px;
  text-transform: capitalize;
}
.image_caption {
  color: #fff;
  font-size: 30px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 250px;
  max-width: 600px;
}

blockquote {
  border-left: inherit;
  display: inline-block;
  margin: 0 !important;
  position: relative;
  width: auto;
}
blockquote:before {
  color: #fff;
  content: open-quote;
  font-size: 4em;
  line-height: 40px;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  position:absolute;
  left:0px;
}
blockquote:after {
  color: #fff;
  content: close-quote;
  font-size: 4em;
  line-height: 50px;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  position:absolute;
  right:-15px;
}
.top_menu_log .dropdown-menu{
  border:2px solid #fff; background-color: inherit;
min-width: inherit; border-radius: 0; padding: 5px;}
.top_menu_log .dropdown-menu li a{min-width: 120px; text-align: center;}

.cbp-spmenu-push .cbp-spmenu-left{padding-top: 0px;}
#fname {
  display: inline-block;
  width: 200px;
}
.footer_cont_wid {
  display: inline-block;
  vertical-align: top;
}


/* Product css */
.product_box {
  height: 300px;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
 vertical-align: top;
}

.product_price_info {
  color: #29488f;
  font-size: 18px;
}
.product_list {
  margin-top: 0px;
}
.product_brand {
  color: #999;
  font-size: 14px;
}
.product_name {
  color: #2c2c2c;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.product_image {
  display: inline-block;
  height: 170px;
  width: 170px;
}
.product_box_hover{width: 100%;   border: 1px solid transparent; padding: 20px;}
.product_image img{max-width: 100%; display: inline-block;}
.btn_buy{display: none;}
.product_box:hover .btn_buy{display: inline-block;}
.product_box_hover:hover{
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 380px;
  position: absolute;
  z-index: 1;
   padding: 20px;
 
 }
 .btn_buy {
  background-color: #f26922;
  border: medium none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
  padding: 5px 25px;
  text-transform: capitalize;
}
.owl-theme .owl-controls .owl-dot {
    display: inline-block;
}
.owl-theme .owl-controls .owl-dot span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 9px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 9px;
}
.owl-theme .owl-controls .owl-dots{text-align: center;}
.owl-theme .owl-controls .owl-dot.active span{background-color: #29488f;
opacity:1;
height: 10px;
 width: 10px;}
 .full_describe {
  background-color: #f7f7f7;
  border: 1px solid #eee;
  color: #666;
  display: block;
  font-size: 14px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
  width: 175px;
}
.full_describe:hover{background-color: #eee;}
.product_details .product_name {
  color: #575757;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 5px;
  text-transform: capitalize;
}
.product_details {
  padding-top: 3rem;
}
.product_price {
  color: #29488f;
  font-size: 20px;
}
.our_price {
    color: #999;
    margin-bottom: 5px;
    display: inline-block;
}
.product_price_sec {
  padding-top: 3rem;
}
.common_price_box {
  border: 1px solid #ddd;
  padding: 15px;
}
.product_price.quantity {
  font-size: 18px;
}
.product_price .form-control {
  border-radius: 0;
  cursor: pointer;
}
#bootstrapSelectForm .btn{border-radius: 0px; margin-top: 5px;}
#bootstrapSelectForm .form-control{box-shadow: none;}
#bootstrapSelectForm .dropdown-menu{border-radius: 0px; top: 37px; height: 200px;}
.ad_cart {
  background-color: #29488f;
  border: medium none;
  color: #fff;
  padding: 4px;
  text-transform: uppercase;
  width: 100%;
}
.check-out
{
  background-color:red;
  border: medium none;
  color: #fff;
  padding: 4px;
  text-transform: uppercase;
  width: 100%;
}
.top_none{border-top: none;}
.pagination_info {
  font-size: 18px;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.search_filter > span {
  color: #999;
  display: inline-block;
  padding-bottom: 4px;
  text-transform: capitalize;
}
.filter_box {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 10px;
}
.head_filter {
  background-color: #eee;
  color: #575757;
  font-weight: bold;
  padding: 8px;
}
.cotent_filter a {
  color: #666;
  display: block;
  padding: 0 8px;
}
.cotent_filter li {
  border-bottom: 1px solid #ddd;
}
.cotent_filter li:last-child a {
  color: #575757;
  display: block;
  font-weight: bold;
  padding: 8px;
}
.filter {
  color: #999;
  display: inline-block;
  padding-top: 16px;
}

/* by mradul */
.product_detail_image {
    display: inline-block;
    height: 227px;
    width: 268px;
}
.sub_cat_div
{
  margin-left: 5px;
  display: none;
}



.thumb_img {
  display: inline-block;
  height: 100px;
  width: 100px;
}
.thumb_img img {max-width: 100%;}
.thumb_details {
  display: inline-block;
  vertical-align: middle;
}
.thumb_details > a {
  font-size: 16px;
}
.thumb_details p {
  color: #999;
}
.pro_info {
  color: #f00;
  font-style: italic;
}



.check_out_wrap {
  margin: 30px 0;
}
.check_out_wrap .table thead {
  background-color: #eee;
}
.check_out_wrap .table > thead > tr > th{border-bottom: inherit;
color: #575757;}
.check_out_wrap .table > tbody > tr > td, .check_out_wrap .table > tbody > tr > th, .check_out_wrap .table > tfoot > tr > td, .check_out_wrap .table > tfoot > tr > th, .check_out_wrap .table > thead > tr > td, .check_out_wrap .table > thead > tr > th {

  vertical-align: middle;
  text-align: center;
}
.check_out_wrap .table > tbody > tr > td:first-child{text-align: left;}
.check_out_wrap .table  tr > th:first-child{text-align: left; padding-left: 20px;}
.check_out_wrap tbody {
  border: 1px solid #ddd;
}
.check_out_wrap thead {
  border: 1px solid #ddd;
}
.check_out_wrap h1 {
  color: #575757;
  font-size: 24px;
  padding-bottom: 20px;
}
.tatal {
  font-size: 26px;
  font-weight: bold;
  padding-right: 10rem !important;
  text-align: right !important;
}
.bottom_wrap button {
  background-color: #f26922;
  border: medium none;
  border-radius: 6px;
  color: #fff;
  padding: 8px 15px;
  text-transform: capitalize;
}
.check_out
{
  border:none !important;

}
.cart
{
  font-size:28px !important;
}
.product_slider
{
  height: 405px !important;

}
.product_slider > .owl-stage-outer
{
  max-height: 400px !important;
}
.product_slider_wrapper
{
  margin-top: 25px;
}
.owl-controls
{
  background-color: #fff !important;
}
.product_describe > img{
   width:100% !important;
}
.form-control-ship
{
  width:500px !important;
  min-height: 40px !important;
  margin-bottom: 10px;
}
.form-error
{
  color:red;
}
.error
{
  color:red;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


/** by adnan**/
ul li a span.cart_count {
background: red;
position: absolute;
border-radius: 65%;
font-weight: bold;
font-size: 11px;
height: 16px;
width: 16px;
display: block;
text-align: center;
top: 3px;
margin: 0px 10px;
}

li.cart_list {
/*background: #000;*/
color: #fff;
font-size: 16px;
font-weight: bold;
padding: 0px 7px;
margin-right:10px;
}
i.fa.fa-shopping-cart.cart {
position: relative;
}
.brand_list
{
  margin-bottom: 20px;
  top:-30px;
  /*position: absolute;*/
}
.dropdown-menu.sub-menu {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #ffffff;
  left: 100%;
  width: 100%;
  top:0px;
}
.dropdown-menu.sub-menu > li > a{color: #fff}

 .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {background-color: #3254a2 !important; color: #33333; }
 .add-quetion-btn {
  color: #000000;
  font-size: 25px;
}
.product_list1{ margin-top: 70px;}
.product_describe h2 {
    font-size: 20px;
    color: #000;
}
.product_describe {
    line-height: 26px;
    text-align: justify;
    color: #666;
}
.flavour {
    padding: 15px;
    border: 1px solid #ddd;
    color: #999;
    text-transform: capitalize;
}
.flavour span{display: block; border: 1px solid #ddd; height: 40px;
  text-align: center; line-height: 40px; margin-top: 5px;
}

