@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
}.flaticon-arrow487:before {
	content: "\e000";
}
.flaticon-arrowhead7:before {
	content: "\e001";
}
.flaticon-athlete1:before {
	content: "\e002";
}
.flaticon-calendar68:before {
	content: "\e003";
}
.flaticon-clock118:before {
	content: "\e004";
}
.flaticon-direction:before {
	content: "\e005";
}
.flaticon-dollar179:before {
	content: "\e006";
}
.flaticon-dumbbell:before {
	content: "\e007";
}
.flaticon-email5:before {
	content: "\e008";
}
.flaticon-fitness1:before {
	content: "\e009";
}
.flaticon-mail115:before {
	content: "\e00a";
}
.flaticon-manager3:before {
	content: "\e00b";
}
.flaticon-money146:before {
	content: "\e00c";
}
.flaticon-updated:before {
	content: "\e00d";
}
.flaticon-woman93:before {
	content: "\e00e";
}
