.notifyjs-metro-base {
	position: relative;
    min-height: 52px;
    color:#444;
}

    .notifyjs-metro-base .image {
        display: table;
        position: absolute;
        height: auto;
        width: auto;
        left: 25px;
        top: 50%;

        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

      .notifyjs-metro-base .text-wrapper {
  clear: both;
  display: inline-block;
  font-family: "Segoe UI";
  margin: 10px 0;
  text-align: center;
  vertical-align: top;
}
    .notifyjs-metro-base .title {
        font-size: 15px;
        font-weight: bold;
    }

    .notifyjs-metro-base .text {
        font-size: 12px;
        font-weight: normal;
        vertical-align: middle;
    }
    .notifyjs-corner{width: 100%; text-align: center;}
    .notifyjs-metro-base .text {
        font-size: 20px;
        color: #fff;
        font-family: oswaldlight;
    }
    .notifyjs-metro-base .title {
        font-size: 25px;
        color: #fff;
        text-align: center;
        font-family: oswaldlight;
    }
    .notifyjs-corner .notifyjs-wrapper, .notifyjs-corner .notifyjs-container{margin: 0px !important;}
    .notifyjs-corner{margin: 0px !important;}