@charset "utf-8";
/* CSS Document */
@media (min-width:1200px){
  

}


@media (min-width:992px) and (max-width:1199px){
  
  .margin_left1 {
    margin-left: 20px;
  }
  .plan_block{padding:15px;}
  .services_block_cont{ padding: 10px 5px 40px 5px;}
  .social_icon_user li a {
  height: 28px;
  line-height: 28px;
  width: 28px;
  margin-bottom: 10px;
}
.cbp-spmenu-push .cbp-spmenu-left.cbp-spmenu-open {
  left: 0;
  top: 61px;
}
.cbp-spmenu-push .cbp-spmenu-vertical {
  height: 100%;
  top: 61px;
  width: 240px;
  z-index: 1000;
}
  
  }
  
  
  
@media (min-width:768px) and (max-width:991px){
  .plan_block{padding:8px;}
  .plan_block p{font-size:16px;}
  .social_icon li a{ margin: 5px 0;}
  .margin_left1 {
    margin-left: 5px;
} .services_block_cont{ padding: 10px 5px 40px 5px;}
  .services_block_cont p{line-height:21px;}
  .services_block_cont {
  min-height: 200px;
  width: 80%;
} .icon_block_section{min-height:430px;}
.services_block2{min-height:442px;}
.social_icon_user li a {
  height: 28px;
  line-height: 28px;
  width: 28px;
  margin-bottom: 10px;
}
.cbp-spmenu-push .cbp-spmenu-left.cbp-spmenu-open {
  left: 0;
  top: 61px;
}
.cbp-spmenu-push .cbp-spmenu-vertical {
  height: 100%;
  top: 61px;
  width: 240px;
  z-index: 1000;
}
.image_caption{top: 160px;}
#clientlogin .footer_sect{min-height: 660px;}
  
  }
  
  
  
@media (max-width:767px){
  .top_menu_log li {
  display: block;
}
.notifyjs-corner{ text-align: center !important;}
.error_msg{padding: 5px !important; text-align: center;}
.login-top {
    top: -1px !important;
}
.logout_btn {
  display: inline-block !important;
}
  .services_block2 .services_block_cont {
  width: 49%;
}
.plan_block{margin-right: 0px;}
.panel-title {
  font-size: 12px;
}
.title_sect2 h3 {
  font-size: 24px;
}
.service_section1 .icon_block_section {
  min-height: 350px;
}
.testimonial_cont{font-size: 14px;}
.services_block2 .services_block_img {
  max-height:200px;
  overflow: hidden;
  width: 50%;
}
.services_block_cont{ padding: 10px 5px 40px 5px;}
.services_block2{width:100%;}
.margin_left1 {
  margin-left: 0px;
}
.plan_block {
  margin-bottom: 10px;
  padding: 8px;
  min-width: 200px;
}
.top_menu_log {
  position: absolute;
  right: 5px;
  top: 7px;
}
.navbar-fixed-top .col-sm-4.text-right {
  position: relative;
  right: 0;
  top: -47px;
}
.quick_links {
  padding-bottom: 25px;
}
.social_icon {
  position: relative;
  padding-bottom: 25px;
}
.footer_title {
  padding-bottom: 8px;
}
.trainee_tab_content{overflow-y:scroll; margin-top:10px;}
.fc-view, .fc-view > table{width:720px;}
.fc-unthemed {
  overflow-y: scroll;
}
.trainee_tab_content {
  min-height: 250px;
}
.main_container {
    padding: 10px 0;
}
.add_profile{ margin-top:20px;}
.subscribe_wrap .col-sm-2 {
  display: inline-block;
  padding-right:0px;
}
.subscribe_wrap .col-sm-10 {
  display: inline-block;
  padding-right:0px;
}

.cbp-spmenu-vertical a{padding:8px !important;}
.logo_pt_app{font-size:24px;}
.input-group-addon{ padding: 4px 12px;}
.trainer_search .form-control{height:40px;}
.fc-left h2 {
  font-size: 16px;
  padding-top: 5px;
}
.icon_block{min-height:80px; padding-bottom:10px;}
.cbp-spmenu-push .cbp-spmenu-left.cbp-spmenu-open {
  left: 0;
  top: 63px;
}
.cbp-spmenu-push .cbp-spmenu-vertical {
  height: 100%;
  top: 63px;
  width: 185px;
  z-index: 1000;
}
.menu_bar_targ{position: relative;z-index: 1111;}
.logo_pt_app {
  font-size: 24px;
  left: 0;
  position: absolute;
  right: 50px;
  top: -30px;
}
.slider_wrapper .item{min-height: 210px;}
.slider_wrapper .owl-carousel .owl-item img {
  height: 310px;
}
.image_caption{top: 130px;}
.image_caption h2{font-size: 18px;}
blockquote::after{font-size: 3em; right: 15px;}
blockquote::before{font-size: 3em; top: -10px; left: 12px;}
.inner_bg img {
  min-height: 300px;
}
.panel_block_heading > h4 {
  font-size: 16px;
}
#clientlogin .footer_sect{min-height: 806px;}

}
@media (max-width:400px){
.services_block2 .services_block_cont {
  width: 100%;
}
.services_block2 .services_block_img {
  max-height: 250px;
  overflow: hidden;
  width: 100%;
}
.services_block_img {
  width: 100%;
}
.services_block_cont {
  min-height: 235px;
  width: 100%;
}
.menu_bar_targ{font-size:0px; line-height: 50px;}
.logo_pt_app { 
  font-size: 16px;
  left: 0;
  margin: 0 auto;
  right: 0;
}
.top_menu_log strong {
  display: block;
  font-size: 10px;
}
.top_menu_log li a {
  font-size: 10px;
  margin: 5px 3px;
  padding: 2px 3px;

}
.sign_up_btn {
  line-height: 15px;
}
} 
